name: Day 1 CI Build

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run basic check
        run: echo "CI pipeline is running successfully"

      - name: Printing secret
        run: echo "Secret is ${{ secrets.MY_SECRET }}"